html,
body,
#root {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  background-color: #14151a !important;
  color: #f8f8f2;
}

a {
  color: #bd93f9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
